<!-- including the _base.html templates -->
{% extends 'components/_base.html' %} {%block title%} Spoken Tutorial {%endblock%} {% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center">Dashboard</h1>
    <h4 class="row center">
      This is the awesome dashboard for users and administrators! We should put the most relevent data here for user once they
      sign in!
    </h4>
    <br>
    <br>
  </div>
</div>
{% endblock %}