<!-- including the _base.html templates -->
{% extends 'components/_base.html' %} {%block title%} Payment {%endblock%}
<!-- referring to the block in base.html -->
{% block content %}
<!-- signup form  -->
<div class="container">
    <h1 class='section_header'>Payment</h1>
    {% if table %}
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Username</th>
                <th>Submissions</th>
                <th>Amount</th>
                <th>Pay</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ row.foss }}</td>
                <td>{{ row.multiplier }}</td>
                <td>{{ row.multiplier }}000</td>
                <td>
                    {% if row.is_paid %}
                    <i class="green-text fas fa-check"></i> {% else %}
                    <a class="btn waves-effect waves-light blue" href="{% url 'pay' username=row.foss multiplier=row.multiplier month=month %}">
                        Pay </a> {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div id='message_section'>
        No Records exist for the selected condition.
    </div>
    {% endif %}
</div>
{% endblock %}