<!-- including the _base.html templates -->
{% extends 'components/_base.html' %} {%block title%} FOSS {%endblock%}
<!-- referring to the block in base.html -->
{% block content %}
<!-- signup form  -->
<div class="container">
    <h1 class='section_header'>FOSS</h1>
    <a class="btn waves-effect waves-light blue" href="{% url 'addNewFoss' %}">Add FOSS</a>
    {% if table %}
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Title</th>
                <th>Assigned To</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>{{ row.title }}</td>
                <td>{{ row.user }}</td>
                <td>
                    <a class="btn waves-effect waves-light blue" href="{% url 'viewFossDetails' foss=row.foss_id %}">
                        View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div id='message_section'>
        No Records exist for the selected condition.
    </div>
    {% endif %}
</div>
{% endblock %}