{% spaceless %}
<table class="striped highlight">
    <thead>
        <tr>
            <th>Username</th>
            <th>Submissions</th>
            <th>Amount</th>
            <th>Pay</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.multiplier }}</td>
            <td>{{ row.multiplier }}000</td>
            <td>
                {% if row.is_paid %}
                <i class="green-text fas fa-check"></i> {% else %}
                <a class="btn waves-effect waves-light blue" onclick='requestPayment("{{ row.foss }}","{{row.multiplier}}");'>Pay</a> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endspaceless %}